@model CountryVM

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border-2 mt-4">
        <div class="row mb-2">
            <h2 class="text-primary">Edit Country</h2>
            <hr />
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control border border-1 border-dark" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="form-control border border-1 border-dark" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" style="width: 150px">Update</button>
        <a asp-area="Admin" asp-controller="Country" asp-action="AllCountries" class="btn btn-light" style="width: 150px">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}