@model VideoVM

<form method="post" enctype="multipart/form-data">
    <div class="border-2 mt-4">
        <div class="row mb-2">
            <h2 class="text-primary">Create New Video</h2>
            <hr />
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Video.Name"></label>
                <input asp-for="Video.Name" class="form-control border border-1 border-dark" />
                <span asp-validation-for="Video.Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Video.Description"></label>
                <input asp-for="Video.Description" class="form-control border border-1 border-dark" />
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Video.TotalSeconds"></label>
                <input asp-for="Video.TotalSeconds" class="form-control border border-1 border-dark" min="1" />
                <span asp-validation-for="Video.TotalSeconds" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Video.StreamingURL"></label>
                <input asp-for="Video.StreamingURL" class="form-control border border-1 border-dark" />
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Video.GenreId"></label>
                <select asp-for="Video.GenreId" asp-items="Model.Genres" class="form-control border border-1 border-dark">
                    <option disabled selected>--Select Genre--</option>
                </select>
                <span asp-validation-for="Video.GenreId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Image"></label>
                <input type="file" id="image" name="image" accept="image/*" class="form-control border border-1 border-dark" />
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Video.Tags"></label>
                <select asp-for="Video.Tags" asp-items="Model.Tags" class="form-control border border-1 border-dark"></select>
                <span asp-validation-for="Video.Tags" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-dark" style="width: 150px">Create</button>
        <a asp-area="Admin" asp-controller="Video" asp-action="AllVideos" class="btn btn-light" style="width: 150px">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
