@model IEnumerable<VideoVM>

@{
    ViewData["Title"] = "Home";

    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"] - 1;

    ViewData["action"] = "Index";
}

<input id="hiddenData" data-pages="@pages" data-size="@size" data-url="Public/Home/HomeVideosPartial" hidden />

<h2 class="text-primary">Videos</h2>

<div class="d-flex justify-content-end">
    <div>
        <input type="text" id="filter" class="form-control border border-1 border-dark h-75" />
    </div>
</div>

<div id="content" class="row pb-2">
    <partial name="_HomeVideosPartial" />
</div>

@await Component.InvokeAsync("Pagination");

@section Scripts{
    <script src="~/js/pagination.js" asp-append-version="true"></script>

    <script>
        $('#filter').on('keyup', function () {
            let page = $('.pager-btn.btn-dark').data('page');
            let filter = $('#filter').val();

            getFilteredData(page, size, 'Public/Home/HomeVideosPartial', 'name', filter);
        });

        function getFilteredData(page, size, url, filterBy, filter) {
            let ajaxData = {
                page: page,
                size: size,
                filterBy: filterBy,
                filter: filter
            };

            $.ajax({
                type: 'GET',
                url: url,
                data: ajaxData,
                success: function (data) {
                    $('#content').html(data);

                    $('.pager-btn').removeClass('btn-dark');
                    $('.pager-btn').addClass('btn-light');

                    $('.pager-btn[data-page=' + page + ']').removeClass('btn-light');
                    $('.pager-btn[data-page=' + page + ']').addClass('btn-dark');
                },
                error: function (data) {
                    console.log('error', data);
                }
            });
        }
    </script>
}
