
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4 text-start">Videos</h2>
</div>

@*<div class="row pb-2">
    @foreach(var video in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-1 p-2 rounded">
                        <img src="@video.Image?.Content" class="card-img-top rounded" />
                        <div class="card-body p-2">
                            <p class="p-2">@video.Name</p>
                            <p class="p-2">@video.Description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>*@
