@model ChangePasswordVM

@{
    ViewData["Title"] = "Change password";
}

<form method="post">
    <input asp-for="Email" hidden />
    <input asp-for="UserId" hidden />
    <div class="container p-2">
        <div class="my-3">
            <h2 class="text-primary">Change Password</h2>
            <hr />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="OldPassword"></label>
                <input type="password" asp-for="OldPassword" class="form-control border border-1 border-dark" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword"></label>
                <input type="password" asp-for="NewPassword" class="form-control border border-1 border-dark" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-custom">Change</button>
        <a asp-area="Public" asp-controller="PublicUser" asp-action="UserProfile" asp-route-id="@Model.UserId" class="btn btn-light btn-custom">Back</a>
    </div>
</form>
