@model LoginRequestVM

@{
    ViewData["Title"] = "Log in";
}

<form method="post">
    <div class="border-2 mt-4">
        <div class="row mb-2">
            <h2 class="text-primary">LogIn</h2>
            <hr />
        </div>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input id="email" asp-for="Email" class="form-control border border-1 border-dark" />
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input id="pass" type="password" asp-for="Password" class="form-control border border-1 border-dark" />
            </div>
            <span id="warning" class="text-danger"></span>
            <div class="mb-3">
                <p class="text-primary">
                    New user? <a asp-controller="PublicUser" asp-action="Registration" class="text-info">Register</a>
                </p>
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-custom">LogIn</button>
        <a asp-area="Public" asp-controller="Home" asp-action="Index" class="btn btn-light btn-custom">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}