<div class="d-flex justify-content-center align-items-center" style="height: 70vh">
    <p class="text-primary">Verification email has been sent to your email address, please click on link in message to verify your e-mail address.</p>
</div>