@model IEnumerable<UserVM>

@{
    ViewData["Title"] = "All users";

    var page = (int)ViewData["page"];
    var size = (int)ViewData["size"];
    var pages = (int)ViewData["pages"] - 1;

    ViewData["action"] = "AllUsers";
}

<input id="hiddenData" data-pages="@pages" data-size="@size" data-url="UserTableBodyPartial" data-keyfilterby="userFilterBy" data-keyfilter="userFilter" data-keypage="userPage" hidden />

<div class="container p-2">
    <div class="row mt-3">
        <div class="col-6">
            <h2 class="text-primary">All Users</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="User" asp-action="CreateUser" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Register New User</a>
        </div>
    </div>
    <br />

    <div class="d-flex justify-content-between">
        <div class="d-flex">
            <label for="filterBy" class="mx-3 w-100 pt-1">Filter by:</label>
            <select id="filterBy" class="form-select border border-1 border-dark pt-1 h-75">
                <option value="none" selected>None</option>
                <option value="firstname">First name</option>
                <option value="lastname">Last name</option>
                <option value="username">Username</option>
                <option value="country">Country</option>
            </select>
        </div>
        <div class="d-flex">
            <label for="filter" class="mx-3 w-25 pt-1">Search:</label>
            <input type="text" id="filter" class="form-control border border-1 border-dark h-75" />
        </div>
    </div>

    <table id="tblUsers" class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Phone</th>
                <th>Country</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="content">
            <partial name="_UserTableBodyPartial" />
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7">
                    @await Component.InvokeAsync("Pagination")
                </td>
            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script src="~/js/deleteWarning.js"></script>
    <script src="~/js/pagination.js" asp-append-version="true"></script>
    <script src="~/js/filtering.js" asp-append-version="true"></script>
}