@model ICollection<GenreVM>

<div class="container p-2">
    <div class="row mt-3">
        <div class="col-6">
            <h2 class="text-primary">All Genres</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-area="Admin" asp-controller="Genre" asp-action="CreateGenre" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp; Create New Genre</a>
        </div>
    </div>
    <br />

    <table id="tblGenres" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="genres-table-body"></tbody>
    </table>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        getData();

        function DeleteWarning(url, table) {
            Swal.fire({
                title: 'Are you sure you want delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Delete'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'Delete',
                        success: function (data) {
                            if (data.success) {
                                Swal.fire(
                                    'Deleted!',
                                    'Deleted successfully',
                                    'success'
                                );

                                getData();
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops...',
                                    text: 'Unable to delete!'
                                })
                            }
                        }
                    })
                }
            })
        }

        function getData() {
            $.ajax({
                type: 'GET',
                url: 'GenreTableBodyPartial',
                success: function (data) {
                    $('#genres-table-body').html(data);
                },
                error: function (data) {
                    console.log('error', data);
                }
            });
        }
    </script>
}