@model GenreVM

@{
    ViewData["Title"] = "Edit genre";
}

<form method="post">
    <input id="genreId" asp-for="Id" hidden />
    <div class="border-2 mt-4">
        <div class="row mb-2">
            <h2 class="text-primary">Edit genre</h2>
            <hr />
        </div>
        <div class="row">
            <div class="mb-3 col-6">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" id="name" class="form-control border border-1 border-dark" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" id="description" class="form-control border border-1 border-dark" />
            </div>
        </div>
        <button type="submit" class="btn btn-dark btn-custom">Update</button>
        <a asp-area="Admin" asp-controller="Genre" asp-action="AllGenres" class="btn btn-light btn-custom">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        $(() => {
            $('form').on('submit', function (event) {
                event.preventDefault();

                var id = $('#genreId').val();
                var name = $('#name').val();
                var description = $('#description').val();

                var dataFromForm = {
                    id: id,
                    name: name,
                    description: description
                };

                $.ajax({
                    type: 'PUT',
                    url: 'EditGenre',
                    headers: {
                        'content-type': 'application/json'
                    },
                    data: JSON.stringify(dataFromForm),
                    success: function () {
                        window.location.href = '../AllGenres';
                    },
                    error: function (data) {
                        console.log("error", data);
                    }
                });
            });
        });
    </script>
}